* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url(images/clouds-2203633_1280.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.container {
    display: flex;
    flex-direction: column;
}

.heading {
    text-align: center;
    margin: 1rem;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#search {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#city {
    padding: 1rem;
    width: 50%;
    border-radius: 1rem;
    border: none;
    box-shadow: 0.25rem 0.25rem 0.25rem black;
    font-size: 1.15rem;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    background-color: #caf0f8;
}

#btn {
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 1rem;
    box-shadow: 0.25rem 0.25rem 0.25rem black;
    background-color: #caf0f8;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    font-size: 1.15rem;
}

.weather {
    display: flex;
    flex-direction: column;
}

#currentWeather {
    display: flex;
    height: fit-content;
    justify-content: space-around;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;
    display: none;
    box-shadow: 0.25rem 0.25rem 0.25rem black;
    background-color: #caf0f8;
}

#currentWeather div, #currentWeather div img {
    padding: 0.5rem;
    font-size: 1.5rem;
    background-image: none;
}

.currentDetails {
    margin-top: 1rem;
    background-image: none;
}

#hourlyWeather {
    display: flex;
    overflow: auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;
    display: none;
    box-shadow: 0.25rem 0.25rem 0.25rem black;
    background-color: #caf0f8;
}

.hourly {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    line-height: 1.5rem;
    padding: 1rem;
    font-size: 1.25rem;
}

.hourTemp{
    margin-left: 1rem;
}

#weeklyWeather {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 45%;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;
    display: none;
    box-shadow: 0.25rem 0.25rem 0.25rem black;
    background-color: #caf0f8;
}

.weekly {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: 1.25rem;
}

.weeklyDetails{
    margin-top: 1.2rem;
}

#misc {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;
    display: none;
    box-shadow: 0.25rem 0.25rem 0.25rem black;
    background-color: #caf0f8;
}

.extra {
    padding: 1rem;
    height: fit-content;
    width: fit-content;
    font-size: 1.25rem;
}

.extra div{
    padding: 0.5rem;
}

.extraIcon{
    margin-left: 0.5rem;
}

#sun {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;
    width: 50%;
    font-size: 1.25rem;
    display: none;
    box-shadow: 0.25rem 0.25rem 0.25rem black;
    background-color: #caf0f8;
}

#sun div {
    line-height: 2rem;
}
